@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root {
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
}

body {
    font-family: 'Roboto';
    text-rendering: optimizeSpeed;
}
